@font-face {
    font-family: 'distant_galaxyregular';
    src: url('../data/fonts/distgrg_-webfont.woff2') format('woff2'),
         url('../data/fonts/distgrg_-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
:root {
    box-sizing: border-box;
}
header {
    font-family: 'distant_galaxyregular';
    color: gold;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    padding-bottom: 5rem;
    padding-top: 3rem;
}
.main {
    justify-content: center;
    padding: 10rem;
    
}
.box {
    font-family: 'distant_galaxyregular';
    text-align: center;
    color: black;
    font-size: 2rem;
    
}
a {
    text-decoration: none;
    font-size: 1.5rem;
    flex-wrap: wrap;
    border-radius: .5rem;
}
li {
    list-style-type: none;
    color: gold;
}
.container {
display: flex;
}
.nav {
    border: solid 2px black;
    padding: 1rem;
}
footer {
    color: gold;
    display: flex;
    justify-content: center;
    margin-top: 3rem;


}

