/* CSS reset */
body, p, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

/* Box Model Fix Here*/
*{ -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*---BODY---*/
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color:#585858;
    background-color: white;
    font-size: 16px;
}
/*---HEADER---*/
header {
    background-color: rgb(242,243,244);

}
header h1 {
    color: #a81f29;
    padding: 1rem 0 0 4%;
    font-size: 4rem;
    
}
header h2 {
    color: #a81f29;
    padding-left: 4%;
    font-size: 1.9rem;
    
}
/*---NAVIGATION---*/
nav {
    background-color: rgb(088,088,088);
    
}
nav ul.menu li{
    float:left;
    list-style-type: none;

}
nav ul.menu li a {
    display:block;
    padding: 10px 20px;
    color: #f2f3f4;
    text-decoration: none;
    border-left: solid 2px #f2f3f4;
    
}

nav ul.menu li a:hover {
    background-color: #f2f3f4;
    color: #585858;
}

nav ul.menu li.active a {
    background-color: #d8d8d8;
    color: rgb(088,088,088);
}

/*---MAIN---*/
main {
    padding: .5rem 2%;
    background-color: white;
    
}
main h1 {
    font-size: 2.5rem;
    color: #585858;
    
    margin-bottom: .4rem
}
main h2 {
    font-size: 1.75rem;
    color: #585858;
    margin: .2rem;
    
}
main p {
    padding: .8rem;
    padding-bottom: .8rem;
    line-height: 150%;
}
main blockquote {
    font-style: italic;
    margin: 1.2rem 12%;
    font-size: 1.4rem;
    text-align: center;
}
main a {
    color: #a81f29;
    text-decoration: none;
}
main a:hover {
    color: rgb(001,000,102);
}

}
/*----LISTS---*/
main ul.square, main ol.checks {
    margin: 0 0 1rem 0;
    padding: 0 0 0 2rem;
    
}
main ul.square {
    list-style-type: square;
}
main ol.checks {
    list-style-type: circle;
    
}
main dl {
    border: solid 1.5px #f2f3f4;
    border-radius: 10px;
    background-color: #f2f3f4;
    padding:.5rem .5rem 1rem .5rem;
}
main dl dt {
    margin: 0;
    font-weight: 600;
    padding: .5rem .5rem 0 .5rem;
}
main dl dd {
    margin: 0;
    padding: 0 4rem 0 2rem;
    font-style: italic;
    
}
/*---FOOTER---*/
footer {
    background-color: #585858;
    
}
footer p {
    color: #f2f3f4;
    text-align: center;
    padding: .5rem;
    font-size: 80%;
    font-weight: 500
}
/*---OTHER---*/

.keepopen {
    clear: both;
}

